@charset "utf-8";
/*************************** 메인 컨텐츠 영역 ***************************/
main section {
    position: relative;
}

main section:first-child {
    min-height: 100svh;
}

main section + section {
    background-color: #fff;
}

main .bgc-01 {
    background-color: var(--color-bg-pink);
}

main .bgc-02 {
    background-color: #f1f1f1;
}

main section .inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 180px;
}

.section-04 {
    padding-bottom: 180px;
}

/* 메인 동영상 영역 */
.visual {
    position: fixed;
    left: 0;
    top: 0;
    width: 100svw;
    z-index: -1;
}

.video-area {
    position: relative;
    width: 100svw;
    height: 100svh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: var(--color-primary);
    overflow: hidden;
}

#main-video {
    object-fit: cover;
}

/* 흐르는 LOOP 텍스트 */
.loop-text {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 100px;
}

.loop-text-inner {
    display: inline-block;
    white-space: nowrap;
    display: flex;
}

.loop-text ul {
    flex: 1;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.loop-text.left ul {
    animation: scrollText 20s linear infinite;
}

.loop-text.right ul {
    animation: scrollTextReverse 20s linear infinite;
}

.loop-text li {
    flex: 1;
    display: inline-block;
    padding-right: 50px;
    font-size: 7vw;
    line-height: 1;
    font-weight: var(--font-weight-bold);
    color: #ccc;
}

@keyframes scrollText {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(-150%);
    }
}

@keyframes scrollTextReverse {
    from {
        transform: translateX(-150%);
    }

    to {
        transform: translateX(-50%);
    }
}

/* 메인 ABOUT, CONTACT 컨텐츠 영역 */
.about-boxs,
.contact-boxs {
    position: relative;
    width: 100%;
    display: flex;
}

/* 이미지 박스 */
.imgbox-area {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.imgbox-01 {
    width: 282px;
    height: 282px;
    background: url(../images/product_img01.png);
    background-size: contain;
    background-position: center;
    margin-top: 320px;
    margin-right: 24px;
}

.imgbox-02 {
    width: 310px;
    height: 348px;
    background: url(../images/product_img02.png);
    background-size: 440px;
    background-position: 40% 0;
    margin-top: 360px;
    margin-right: 44px;
}

.imgbox-03 {
    width: 540px;
    height: 750px;
    background: url(../images/product_img03.png);
    background-size: auto;
    background-position: 22% 80%;
    margin-top: 320px;
}

.imgbox-04 {
    width: 600px;
    height: 600px;
    background: url(../images/product_img04.png);
    background-size: 600px;
    background-position: 0;
    margin-top: 400px;
}

.imgbox-05 {
    width: 540px;
    height: 370px;
    background: url(../images/product_img05.png);
    background-size: 560px;
    background-position: 0 38%;
    margin-top: 200px;
}

/* 텍스트 박스 */
.textbox {
    position: absolute;
    bottom: 0;
}

.contact-textbox {
    right: 0;
    width: 540px;
}

.textbox span {
    font-size: 16px;
    font-weight: var(--font-weight-normal);
    letter-spacing: 0.6rem;
    color: var(--font-color-primary);
}

.textbox h2 {
    margin-top: 4px;
    margin-left: -2px;
    font-size: 60px;
    font-weight: var(--font-weight-bold);
    line-height: 1;
    letter-spacing: -0.1rem;
    color: #1c1c1c;
}

.textbox p {
    margin-top: 24px;
    color: #777;
    font-size: 24px;
    font-weight: var(--font-weight-light);
    line-height: 1.4;
    letter-spacing: -0.1rem;
}

/* 더보기 버튼 */
.more-btn {
    position: relative;
    margin-top: 40px;
}

.more-btn a {
    padding: 20px 28px;
    border: 1px solid #777;
    display: flex;
    font-size: 16px;
    font-weight: var(--font-weight-light);
    color: #777;
}

.more-btn a svg {
    padding-left: 50px;
    width: 12px;
}
.su_button {
    overflow: hidden;
  position: relative;
  display: inline-block;
}
.su_button_circle{
    background-color: var(--color-bg-red);
    border-radius: 1000px;
    position: absolute;
    left:0;
    top:0;
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin-top: 0px;
    pointer-events: none;
    /*animation-timing-function: ease-in-out; */
  }
  
  .button_su_inner{
    position: relative;
      display: inline-block;
      transition: 400ms;
      z-index: 1;
  }
  .button_su_inner svg {
    fill: #777;
  }

.explode-circle {
    animation: explode 0.5s forwards;
 
 }
 
 .desplode-circle{
    animation: desplode 0.5s forwards;
 }
 
 @keyframes explode {
   0% {
     width: 0px;
     height: 0px;
     margin-left: 0px;
     margin-top: 0px;
     background-color: var(--color-bg-dark-ov);
   }
   100% {
     width: 400px;
     height: 400px;
     margin-left: -200px;
     margin-top: -200px;
     background-color: var(--color-bg-red);
   }
 }
 
 @keyframes desplode {
   0% {
     width: 400px;
     height: 400px;
     margin-left: -200px;
     margin-top: -200px;
     background-color: var(--color-bg-red);
   }
   100% {
     width: 0px;
     height: 0px;
     margin-left: 0px;
     margin-top: 0px;
     background-color: var(--color-bg-dark-ov);
   }
 }

/* 메인 가로스크롤 영역 */
.product-boxs {
    position: relative;
    width: 100svw;
    height: 150svw;
    padding-top: 150px;
}
.product-boxs hr {
    border: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    margin: 0 auto;
}

.product-title-box {
    position: relative;
    margin: 0 auto;
    /* margin-top: -250px; */
    width: 100svw;
    max-width: 1200px;
    display: flex;
    align-items: center;
}
.horizontal-box {
    position: sticky;
    top: 6vw;
    left: 0;
    z-index: 1;
    margin-top: -200px;
}
.horizontal-section {
    /* width: 200svw; */
    padding-bottom: 10rem;
    height: 100%;
    width: max-content; /* 가로 콘텐츠 전체 크기 */
    transform: translateX(0); /* 초기 위치 */
    transition: 0.3s linear; /* 부드러운 이동 효과 */
}

/* 메인 가로스크롤 영역 상품이미지 */
.product-img {
    position: relative;
    margin-right: 35px;
    width: 360px;
    height: 360px;
    border-radius: 100%;
    background-color:var(--color-bg-pink);
    overflow: hidden;
}

.product-img a img {
    width: 100%;
    height: 100%;
}

/* 가로스크롤 영역 상품명 */
.product-name {
    width: auto;
    overflow: hidden;
    position: relative;
    font-size: 14px;
    margin-top: 40px;
}

.product-name span {
    color: var(--color-primary);
    font-size: 1.5em;
    font-weight: var(--font-weight-normal);
    letter-spacing: 0.6em;
}

.product-name h3 {
    font-size: 5em;
    font-weight: var(--font-weight-bold);
    letter-spacing: -0.06em;
    margin-left: -2px;
}
.product-name h3 br {
    display: none;
}

/* 가로스크롤 영역 순번 */
.circle-number {
    position: relative;
    width: 184px;
    height: 184px;
    overflow: hidden;
    margin-left: -60px;
    margin-top: 55px;
    z-index: -1;
}

.circle-number span {
    position: absolute;
}

.circle-number span img {
    animation: circle-rotate-ani 8s linear infinite;
    
}
@keyframes circle-rotate-ani {
    to {
        transform: rotate(360deg);
    }
}

.circle-number-inner {
    position: absolute;
    width: auto;
    height: 100%;
}

.circle-number-inner ul {
    display: flex;
}

.circle-number-inner li {
    font-size: 5em;
    font-weight: var(--font-weight-bold);
    color: var(--color-primary);
    width: 184px;
    height: 184px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 가로스크롤 영역 상품설명 */
.product-info-area {
    display: flex;
    gap: 0 10svw;
}

.product-info {
    position: relative;
    font-size: 14px;
    width: max-content;
}

.product-info span {
    background-color: var(--color-primary);
    width: 40px;
    height: 4px;
    display: block;
    font-weight: var(--font-weight-light);
    margin-bottom: 3.75rem;
}

.product-info h4 {
    color: var(--color-primary);
    font-size: 1em;
    letter-spacing: 0.5em;
    margin-bottom: 0.5rem;
    margin-left: 2px;
}

.product-info h5 {
    font-size: 3em;
    font-weight: var(--font-weight-bold);
    margin-bottom: 1.5rem;
    letter-spacing: -0.1rem;
}

.product-info p {
    font-size: 1.25rem;
    letter-spacing: -0.04rem;
    font-weight: var(--font-weight-light);
    line-height: 2rem;
}

/* 메인 인스타그램 컨텐츠 영역 */
.insta-boxs {
    padding-top: 250px;
    padding-bottom: 180px;
}

.insta-imgboxs {
    margin: 0 auto;
    max-width: 1200px;
    margin-top: -450px;
}

.insta-title {
    font-size: 2.5rem;
    font-weight: var(--font-weight-bold);
    letter-spacing: -0.1rem;
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50%;
}

.insta-title img {
    margin-right: 8px;
    vertical-align: bottom;
}

.insta-imgboxs ul {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
}

.insta-imgboxs ul li {
    position: relative;
    width: 23.5%;
}

.insta-imgboxs ul li a {
    position: relative;
    width: 100%;
    height: auto;
}

.insta-imgboxs ul li img {
    width: 100%;
    height: auto;
}

/******************************* 미디어쿼리(1200px이하) *******************************/
@media all and (max-width: 1200px) {
    /* mo 메인 컨텐츠 영역 */
    main section .inner {
        width: 96%;
        padding-bottom: 10svh;
    }
    .section-02,
    .section-04 {
        padding-bottom: 40svw;
    }

    /* mo 메인 ABOUT, CONTACT 컨텐츠 영역 */
    .about-boxs,
    .contact-boxs {
        display: block;
    }

    /* mo 흐르는 LOOP 텍스트 */
    .loop-text {
        top: 1.5%;
    }

    .loop-text li {
        font-size: 12vw;
    }

    /* mo 이미지 박스 */
    .about-imgbox {
        flex-direction: column;
    }

    .contact-imgboxs {
        flex-direction: column-reverse;
    }

    .imgbox-area {
        padding-top: 20%;
    }

    .imgbox-01 {
        margin-top: 0;
        margin-right: 0;
        width: 40%;
        height: 40svw;
        background-size: cover;
    }

    .imgbox-02 {
        margin-top: 0;
        margin-right: 0;
        width: 40%;
        height: 40svw;
        background-size: cover;
    }

    .imgbox-03 {
        margin-top: 0;
        width: 60%;
        height: 80svw;
        position: absolute;
        right: 0;
        background-size: cover;
        background-position: center;
    }

    .imgbox-04 {
        margin-top: 4%;
        width: 78%;
        height: 60svw;
        background-size: cover;
        background-position: center;
    }

    .imgbox-05 {
        margin-top: 0;
        margin-left: 15%;
        width: 85%;
        height: 30svw;
        background-size: cover;
        background-position: center;
    }

    /* mo 텍스트 박스 */
    .textbox {
        position: relative;
        text-align: center;
        padding-top: 20%;
    }

    .contact-textbox {
        width: 100%;
    }

    .textbox span {
        font-size: min(2rem, 3vw);
        letter-spacing: 1vw;
    }

    .textbox h2 {
        font-size: min(8rem, 10vw);
        letter-spacing: -0.4vw;
        margin-left: 0;
        margin-top: 2%;
    }

    .textbox p {
        font-size: min(2.5rem, 4.8vw);
        letter-spacing: -0.2vw;
        margin-top: 4%;
    }

    /* mo 더보기 버튼 */
    .more-btn {
        margin-top: 6vw;
    }

    .more-btn a {
        font-size: min(1.6rem, 3vw);
        padding: 3vw 4.6vw;
    }
    .more-btn a svg {
        padding-left: 2vw;
        width: 2vw;

    }    

    /* mo 가로스크롤 상품 영역 */
    .product-boxs {
      height: auto;
      padding-top: 10svw;
    }
    .product-boxs hr {
        display: none;
    }

    .product-title-box {
        width: 80%;
        margin: 0 auto;
        align-items: flex-start;
        flex-direction: column-reverse;
    }

    .horizontal-box {
      margin-top: -60svw;
      padding-top: 10svw;
    }

    .horizontal-section {
        width: auto;
        margin: 0 10%;
        padding-bottom: 20svw;
    }
    /* mo 가로스크롤 상품이미지 */
    .product-img {
        width: min(max(60svw), 50svw);
        height: min(max(60svw), 50svw);
        margin: 0 auto;
    }

    /* mo 가로스크롤 상품명 */
    .product-name span {
        font-size: max(2vw, 0.8rem);
        letter-spacing: 0.3rem;
        font-weight: var(--font-weight-normal);
    }

    .product-name h3 {
        font-size: max(8vw, 2.5rem);
        letter-spacing: -0.02rem;
        margin-top: 2svh;
    }

    .product-name h3 br {
        display: block;
    }

    /* mo 가로스크롤 영역 순번 */
    .circle-number {
        margin-left: 0;
        position: absolute;
        top: -10%;
        right: -10%;
        scale: 0.7;
    }

    .product-info-area {
        flex-direction: column;
        gap: 6svw 0;
    }
    /* mo 가로스크롤 상품설명 */
    .product-info {
        width: auto;
    }
    .product-info span {
        margin-bottom: 1rem;
        width: 24px;
        height: 2px;
    }
    .product-info h4 {
        font-size: max(2vw, 0.8rem);
        font-weight: var(--font-weight-normal);
        letter-spacing: 0.2rem;
        margin-bottom: 2svw;
    }
    .product-info h5 {
        font-size: max(4vw, 1.5rem);
        margin-bottom: 4svw;
    }
    .product-info p {
        font-size: max(2vw, 0.8rem);
        line-height: normal;
    }
    .product-info p br {
        display: none;
    }

    /* mo 메인 인스타그램 영역 */
    .insta-boxs {
        padding-bottom: 10svh;
        padding-top: 10%;
    }

    .insta-imgboxs {
        margin-top: -40%;
    }

    .insta-imgboxs ul {
        display: block;
        padding-top: 20%;
    }

    .insta-imgboxs ul li {
        flex: 1;
        width: 70%;
        padding: 0 15%;
    }

    .insta-imgboxs ul li + li {
        display: none;
    }

    .insta-title {
        font-size: max(4vw, 1.6rem);
        letter-spacing: -0.01rem;
    }

    .insta-title img {
        display: block;
        margin: 0 auto;
    }
}
/******************************* 미디어쿼리(768px이하) *******************************/
@media all and (max-width: 768px) {
}
