@charset "utf-8";
.products-container {
  position: relative;
  width: 100%;
  height: auto;
}
.product-list {
  /* display: flex; */
}
.product-box {
  /* flex: 0 0 calc(33.3333% - 20px); */
  position: relative;
  min-height: 800px;
  margin: 100px auto;
  padding: 60px;
  box-sizing: border-box;
  background-color: var(--color-bg-pink);
  filter: grayscale(1);
  opacity: .5;
}

.swiper-slide.swiper-slide-active {
  filter: grayscale(0);
  opacity: 1;
}
.product-box span {
  font-size: min(40px, 6vw);
  font-weight: var(--font-weight-bold);
  color: var(--color-bg-red);
}
.product-box h3 {
  font-size: min(30px, 5vw);
  font-weight: var(--font-weight-semibold);
  margin-top: 2vh;
  margin-bottom: 1.2vh;
}
.product-box p {
  font-size: min(24px, 4vw);
  font-weight: var(--font-weight-normal);
  color: var(--font-color-secondary);
  width: 80%;
  word-break: keep-all;
  line-height: 1.5;
}
.product-box figure {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);

  margin: 40px auto;
  width: min(320px, 60%);
  height: auto;
  background-color: #fff;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 0px 0px 20px 0px #fff;
}
.product-box figure img {
  width: 100%;
}
.nav-container {
  width: 100%;
  height: 100%;
}
.nav-container .left-arrow {
  position: absolute;
  left: 0;
  top: 50%;
}
.nav-container .right-arrow {
position: absolute;
right: 0;
top: 50%;
}
