@charset "utf-8";
.products-container {
  position: relative;
  width: 100%;
  height: auto;
}
.swiper-slide {
  height: auto;
}
.product-box {
  position: relative;
  /* aspect-ratio: 9 / 10; */
  margin: 100px auto 0;
  padding: 60px;
  box-sizing: border-box;
  background-color: var(--color-bg-pink);
  filter: grayscale(1);
  opacity: 0.5;
  transition: width .3s ease-out;
}
.product-box span {
  font-size: min(40px, 6vw);
  font-weight: var(--font-weight-bold);
  color: var(--color-bg-red);
}
.product-box h3 {
  font-size: min(30px, 5vw);
  font-weight: var(--font-weight-semibold);
  margin-top: 2vh;
  margin-bottom: 3vh;
}
.product-box p {
  font-size: min(20px, 4vw);
  font-weight: var(--font-weight-normal);
  color: var(--font-color-secondary);  
  word-break: keep-all;
  line-height: 1.5;
}
.product-box p.detail{
  display: none;
  margin-top: 3vh;
}
.product-box figure {
  position: relative;
  margin: 80px auto 50px;
  width: min(320px, 60vw);
  height: auto;
  background-color: #fff;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 0px 0px 20px 0px #fff;
}
.product-box figure img {
  width: 100%;
}
.product-box.open {
  width: 60% !important;
}
.product-box.open p {
  width: 80%;
}
.product-box.open figure {
  position: absolute;
  right: 4vw;
  bottom: 0;
}
.btn-view {
  border: 1px solid var(--color-secondary);
  font-size: 1rem;
  color: var(--color-secondary);  
  padding: 10px 20px;
  margin-top: 3vh;
}
.nav-container {
  width: 100%;
  height: 100%;
}
.nav-container .left-arrow {
  position: absolute;
  left: 0;
  top: 50%;
}
.nav-container .right-arrow {
  position: absolute;
  right: 0;
  top: 50%;
}

.swiper-slide.swiper-slide-active {
  filter: grayscale(0);
  opacity: 1;
}
.swiper-slide.swiper-slide-active .btn-view {
  display: inline-block;
}
.swiper-slide .btn-view,
.swiper-slide .close-btn {
  display: none;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 5%;
}
.swiper-pagination-bullet {
  background: var(--color-bg-dark);
}
.swiper-pagination-bullet-active {
  background: var(--color-bg-red);
}

/******************************* 미디어쿼리(1600px이하) *******************************/
@media all and (max-width: 1600px) {
  .product-box {
    padding: 40px;
    aspect-ratio: 9 / 13;
    margin: 10% auto;
  }
  .product-box figure {
    margin: 10% auto;
  }
}
/******************************* 미디어쿼리(1000px이하) *******************************/
@media all and (max-width: 1000px) {
  .product-box {
    aspect-ratio: 9 / 10;
    margin: 20% auto 0;
  }
  .product-box.open {
    width: 80% !important;
  }
}
/******************************* 미디어쿼리(768px이하) *******************************/
@media all and (max-width: 768px) {
  .product-box.open {
    width: 100% !important;
  }
  .product-box.open p {
    width: 100%;
  }
  .product-box.open figure {
    position: relative;
  }
}
