@charset "utf-8";
.products-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.product-list {
  display: flex;
}
.product-box {
  flex: 0 0 calc(33.3333% - 20px);
  position: relative;
  height: 900px;
  margin: 100px auto;
  padding: 60px;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: var(--color-bg-pink);
  filter: grayscale(1);
  opacity: .5;
}
.swiper-slide.swiper-slide-active {
  filter: grayscale(0);
  opacity: 1;
}
.product-box span {
  font-size: 60px;
  font-weight: var(--font-weight-bold);
  color: var(--color-bg-red);
}
.product-box h3 {
  font-size: 40px;
  font-weight: var(--font-weight-semibold);
  margin-top: 32px;
  margin-bottom: 24px;
}
.product-box p {
  font-size: 24px;
  font-weight: var(--font-weight-normal);
  color: var(--font-color-secondary);
  width: 80%;
  word-break: keep-all;
  line-height: 1.5;
}
.product-box figure {
  position: absolute;
  bottom: 5%;
  left: 50%;
  translate: -50% 0;
  margin: 0 auto;

  width: 60%;
  height: auto;
  background-color: #fff;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 0px 0px 20px 0px #fff;
}
.product-box figure img {
  width: 100%;
}
.nav-container {
  width: 100%;
  height: 100%;
}
.nav-container .left-arrow {
  position: absolute;
  left: 0;
  top: 50%;
}
.nav-container .right-arrow {
position: absolute;
right: 0;
top: 50%;
}
