/* 상품 검색창 영역 */
.search-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: var(--color-bg-dark);
    z-index: -1;
    display: none;
}
.search-area.on {
    display: inline;
}
.search-box {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    background: #fff;
    max-width: 600px;
    width: 90%;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
    margin: 100px auto 14px auto;
    padding: 14px 10px;
    border-radius: 50px;
    box-sizing: border-box;
}
.search-box input {
    width: 90%;
    background: transparent;
    border: none;
    outline: none;
    color: var(--font-color-secondary);
    font-size: 1rem;
}
.search-box button {
    background: transparent;
    border: none;
    cursor: pointer;
}
.search-box button svg {
    stroke: var(--font-color-secondary);
}
/* 상품 검색결과 영역 */
.results {
    width: 100%;
    min-height: 24px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 14px;
}
.results > p {
    color: var(--font-color-secondary);
    text-align: center;
}
.results .product {
    position: relative;
    background: var(--color-bg-basic);
    color: var(--font-color-normal);
    margin: 24px 14px;
    padding: 40px;
    border-radius: 20px;
    width: 50%;
}
.results .product span {
    color: var(--color-primary);
    font-size: 0.75rem;
    letter-spacing: 0.4rem;
    margin-bottom: 0.4rem;
    margin-left: 2px;
    display: block;
}
.results .product h3 {
    font-size: 1.5rem;
    font-weight: var(--font-weight-semibold);
    margin-bottom: 0.6rem;
    letter-spacing: -0.1rem;
}
.results .product p {
    font-size: 1rem;
    font-weight: var(--font-weight-normal);
    line-height: 1.5;
}
.results .product figure {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.results .product figure img {
    height: 100%;
}
/******************************* 미디어쿼리(1200px이하) *******************************/
@media all and (max-width: 1200px) {
    .results {
        position: relative;
        width: 90%;
        flex-direction: column;
    }
    .results .product {
        padding: 24px 18px;
        margin: 14px;
        border-radius: 10px;
        width: 100%;
        box-sizing: border-box;
    }
    .results .product span {
        font-size: 0.6rem;
        margin-bottom: 0.4rem;
    }
    .results .product h3{
        margin-bottom: 0.4rem;
    }
    .results .product p {
        font-size: 0.9rem;
        line-height: 1.5;
    }
}